*.*

!.gitignore
!.travis.yml
!circle.yml
!pom.xml
!*.java
!*.asl
!*.md
!*.png
!*.properties

!src/site/*.doxyfile
!src/site/*.htm*
!src/site/*.css
!src/site/*.xml
!src/site/*.graffle

!src/analysis/**/*.xml
!src/analysis/**/*.txt
!src/analysis/**/*.md

target/**
