/*
 * @cond LICENSE
 * ######################################################################################
 * # LGPL License                                                                       #
 * #                                                                                    #
 * # This file is part of the Asimov - Agentbased Passenger Train Delay                 #
 * # This program is free software: you can redistribute it and/or modify               #
 * # it under the terms of the GNU Lesser General Public License as                     #
 * # published by the Free Software Foundation, either version 3 of the                 #
 * # License, or (at your option) any later version.                                    #
 * #                                                                                    #
 * # This program is distributed in the hope that it will be useful,                    #
 * # but WITHOUT ANY WARRANTY; without even the implied warranty of                     #
 * # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                      #
 * # GNU Lesser General Public License for more details.                                #
 * #                                                                                    #
 * # You should have received a copy of the GNU Lesser General Public License           #
 * # along with this program. If not, see http://www.gnu.org/licenses/                  #
 * ######################################################################################
 * @endcond
 */

body {
  font-family: Pridi, serif;
  font-size: 14px;
}

.selectable {
    list-style: none;
}

.selectable li {
    margin: 0.5em;
    font-size: 120%;
    height: 18px;
    line-height: 20px;
}

.selectable .ui-selecting {
    background: #feca40;
}

.selectable .ui-selected {
    background: #f39814;
    color: white;
}

.horizontalcontentcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#agentcontainer {
    width: 15%;
    margin-right: 0.5em;
}

#agentdetail {
    width: 85%;
    margin-left: 0.5em;
}


.mapcontainer {
    padding: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map {
    height: 600px;
    width: 80%;
    border-style: solid;
    border-width: 2px;
    border-color: #ccc;
}
